img {
    max-width: 100%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.example-chip-list {
    width: 100%;
  }

  .materialInput {
    width: 100%;
  }

  agm-map {
    height: 300px;
  }

  textarea{
      height: 7em;
  }

  span{
    margin: 0.5em;
}
